<template name="header">

  <nav class="navbar navbar-default" role="navigation" id="givebox-header">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="cbp-af-header" id="header">
          <div class="cbp-af-inner">
              <h1>GIVEBOX</h1>
              <nav>
                  <a href="#">Login</a>
                  <a href="#">Donate</a>
                  <a href="#">Add your story</a>
              </nav>
          </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->

    </div><!-- /.container-fluid -->

</nav>
</template>