<template name="story">
	{{>header_sm}}

	<div class="container-light">
		{{#with currentStory}}
		<div class="row">
			<div class="col-md-7 "  id="story-bigimage" style="margin-bottom:-40px">

		    <a href="#">
		    	<div style="height:400px; overflow:hidden; border:10px solid #fafbfc; outline:1px solid #ccc;">
			      <img src="{{image}}" class="big-image" style="height:auto; width:100%; overflow:hidden;" alt="...">
			    </div>
		    </a>
		    <div class="well about-box">
			    <h4>Name: <span class="goodlabel">{{name}}</span></h4>
			    <h4>Age: <span class="goodlabel">{{age}}</span></h4>
			    <h4>Family: <span class="goodlabel">{{family}}</span></h4>
			    <h3>Our story</h3>
			    <h4 style="line-height:26px;" class="goodlabel">{{description}}</h4>
			  </div>

			<h2>Updates</h2>
			    <div class="timeline-item">
			        <div class="timeline-icon"></div>
				        <div class="timeline-time">
				            Sep 23, 2013
				        </div>
				        <div class="panel panel-default">
				            <div class="panel-heading">
				                <h4>test test test test test </h4>
				            </div>
				            <div class="panel-body">
				                test test test test test 
				            </div>
				        </div>
				    	</div>
					</div>


		  <div class="col-md-4" id="story-wishlist" style="position:fixed; right:40px; top:120px;">
				<div class="well">
					<h2>{{name}}'s Wishlist</h2>
					<table class="table" id="wishlist_table">
						<!--if wishlist doesn't exist-->
			   </table>

			</div>
		</div>
	</div>

		{{/with}}
	</div>
	{{> paypalCreditCardForm }}
</template>
