<template name="story">
	{{>header_sm}}

	<div class="container-light">
		{{#with currentStory}}
		<div class="row">
			<div class="col-md-7 "  id="story-bigimage" style="margin-bottom:-40px">

		    <a href="#">
		    	<div style="max-height:400px; overflow:hidden; border:10px solid #fafbfc; outline:1px solid #ccc;">
			      <img src="{{image}}" class="big-image" style="height:auto; width:100%; overflow:hidden;" alt="...">
			    </div>
		    </a>
		    <div class="well about-box">
			    <h4>Family Name: <span class="goodlabel">{{name}}</span></h4>
			    <h4>Family Members: <span class="goodlabel">{{family}}</span></h4>
			    <h3>Our story</h3>
			    <h4 style="line-height:26px;" class="goodlabel">{{description}}</h4>
			  </div>

			<h2>Updates</h2>
			    <div class="timeline-item" id="timeline-div">
			        <div class="timeline-icon"></div>
				        <div class="timeline-time">
				            April 6, 2014
				        </div>
				        <div class="panel panel-default">
				            <div class="panel-heading">
				                <h4>Launched our GIVEBOX</h4>
				            </div>
				            <div class="panel-body">
				                Thank you everyone for checking out our Givebox. We really appreciate the support!
				            </div>
				        </div>
				    	</div>
					</div>
					


		  <div class="col-md-5" id="story-wishlist">
				<div class="well">
					<h2>The {{name}}'s Wishlist</h2>
					<table class="table" id="wishlist_table">
						<!--if wishlist doesn't exist-->
						<h3>Upload your Amazon Wishlist! Create one here and email it to <span class="flatblue">wishlist@givebox.bymail.in</span></h3>
			   </table>
					<button id="donateBtn" class="btn btn-success btn-lg" style="border-radius:4px;" data-toggle="modal" data-target="#myModal">
					  Donate selected items
					</button>
			</div>
		</div>
	</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" style="z-index: 999999999;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h4 class="modal-title" id="myModalLabel"><img src="https://www.paypalobjects.com/webstatic/mktg/Logos/paypal-logo1x.svg" style="margin-right: 10px;" /><span id="totalprice"></span> Donation to The {{name}}'s</h4>
      </div>
      <div class="modal-body">
        {{> paypalCreditCardForm }}
      </div>
    </div>
  </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="confirmModal" tabindex="-1" style="z-index: 999999999;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Success!</h4>
      </div>
      <div class="modal-body">
        Thanks for your <span id="totalprice2"></span> donation to The {{name}}s. Your selected items will be ordered and shipped to The {{names}}s this week!
      	<button type="button" id="confirmModalDone" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

		{{/with}}
	</div>
	
</template>
