<template name="story">
	<div class="container">
		<div class="row" id="story-bigimage">
			<div class="col-xs-12 col-md-12">
		    <a href="#">
		      <img data-src="holder.js/100%x180" class="big-image" alt="...">
		    </a>
		  </div>
		</div>
		<div class="row" id="story-images">
		  <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail">
		      <img data-src="holder.js/100%x180" alt="...">
		    </a>
		  </div>
		  <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail">
		      <img data-src="holder.js/100%x180" alt="...">
		    </a>
		  </div>
		  <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail">
		      <img data-src="holder.js/100%x180" alt="...">
		    </a>
		  </div>
		  <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail">
		      <img data-src="holder.js/100%x180" alt="...">
		    </a>
		  </div>
		</div>
		<div class="row" id="story-text">
			<p>A bunch of text goes here for the story</p>
		</div>
		<div class="row" id="story-wishlist">
			<div class="well">
				Wishlist goes here
			</div>
		</div>
	</div>
</template>