<template name="all">
	{{>header_sm}}
	<div class="container-light">
		<div class="row">
			<div class="col-md-12" style="font-size:18px; color:#ccc">
				<span class="pull-left">All stories</span>
				<a href="#"><span class="pull-right">Sort</span></a>
			</div>

			{{#each stories}}
			<div class="col-md-4">
				<div class="story" style="background-image:url('{{image}}'); background-size:cover;">
					<img>
					<div class="hovershow">
						<div class="info">
							<h3 style="color: rgba(230, 126, 34, 1)">The {{name}}s</h3>
							<h4>{{description}}</h4>
							
							
						</div>
						<div class="overlay">
						</div>
						<a href="{{storyPath this}}" style="position:absolute; left: 10px; bottom:10px;"><button class="btn btn-block btn-dark">Donate</button></a>
					</div>
				</div>
			</div>
			{{/each}}

		</div>
	</div>
</template>