<template name="all">
	{{>header_sm}}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="pull-left">All stories</span>
				<a href="#"><span class="pull-right">Sort</span></a>
			</div>

			{{#each stories}}
			<div class="col-md-4 story" style="background-image:url('{{image}}'); background-size:cover;">
				<img>
				<div class="hovershow">
					<div class="info">
						<h4>{{description}}</h4>
						
						<a href="{{storyPath this}}"><button class="btn btn-block btn-dark">Read more</button></a>
						<a href="{{buyPath this}}"><button class="btn btn-block btn-dark">Donate</button></a>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</template>