<template name="buy">
	{{>header_sm}}
	<div class="container-light">
		<div class="row">
		  <div class="col-xs-12" id="story-wishlist">
				<div class="well">
					<table class="table">
						<!--if wishlist doesn't exist-->
						{{name}}'s Wishlist
						<tr>
							<th>Picture</th>
					  	<th>Name</th>
					  	<th>Category</th>
					  	<th>Cost</th>
					  	<th>Donate item</th>
					  </tr>

					  <tr>
					  	<td><img src="/images/thumbnail-clans-case.png" /></td>
					  	<td>Stuff</td>
					  	<td>Stuff</td>
					  	<td>$10</td>
					  	<td><input type="checkbox"></td>
					  </tr>

					  <tr>
					  	<td><img src="/images/thumbnail-clans-case.png" /></td>
					  	<td>Stuff</td>
					  	<td>Stuff</td>
					  	<td>$10</td>
					  	<td><input type="checkbox"></td>
					  </tr>

					  <tr>
					  	<td><img src="/images/thumbnail-clans-case.png" /></td>
					  	<td>Stuff</td>
					  	<td>Stuff</td>
					  	<td>$10</td>
					  	<td><input type="checkbox"></td>
					  </tr>
			   </table>
				</div>
			</div>
		</div>
	</div>
</template>