<template name="home">

	{{>header}}

	<div class="container">
		<div class="row">
			<div class="col-md-12 lightgray" style="margin-bottom: 4px; font-size:18px;">
				Latest GIVEBOX families
				<a href="/all"><span class="pull-right">See all</span></a>
			</div>
		</div>
		<div class="row">



			{{#each stories}}
			<div class="col-md-4">
				<div class="story" style="background-image:url('{{image}}'); background-size:cover;">
					<img>
					<div class="hovershow">
						<div class="info">
							<h3 style="color: rgba(230, 126, 34, 1)">The {{name}}s</h3>
							<h4 style="font-size:14px;">{{description}}</h4>
							
							
						</div>
						<div class="overlay">
						</div>
						<a href="{{storyPath this}}" style="position:absolute; left: 10px; bottom:10px;"><button class="btn btn-block btn-dark">Donate</button></a>
					</div>
				</div>
			</div>
			{{/each}}

		</div>
	</div>
<!-- sendGrid -->
<!-- SendGrid -->
<!-- sendgrid -->
</template>
