<template name="home">

	{{>header}}

	<div class="container">
		<div class="row">
			<div class="col-md-12 lightgray" style="margin-bottom: 4px; font-size:18px;">
				Latest GIVEBOX families
				<a href="/all"><span class="pull-right">See all</span></a>
			</div>
		</div>
		<div class="row">



			{{#each stories}}
			<div class="col-md-4">
				<div class="story" style="background-image:url('{{image}}'); background-size:cover;">
					<img>
					<div class="hovershow">
						<div class="info">
							<h3 style="color: rgba(230, 126, 34, 1)">The {{name}}s</h3>
							<h4 style="font-size:14px;">{{description}}</h4>
							
							
						</div>
						<div class="overlay">
						</div>
						<a href="{{storyPath this}}" style="position:absolute; left: 10px; bottom:10px;"><button class="btn btn-block btn-dark">Donate</button></a>
					</div>
				</div>
			</div>
			{{/each}}

		</div>
	</div>
	<div class="container-fluid" style="margin-top:0; padding:0;">
	  <div id="key-features">
	    <div class="container-fluid">
	      <div class="row marketing-row">
	        <h1>How it works</h1>
	        <div class="col-md-4 marketing-block">
	          <center><span class="glyphicon glyphicon-book marketing-icon"><span class="marketing-icon-num">1</span></span></center>
	          <p>Tell their stories</p>
	          Learn about the families and individuals that are struggling to make ends meet. Find out what they need to get back on their feet.
	        </div>
	        <div class="col-md-4 marketing-block">
	          <center><span class="glyphicon glyphicon-user marketing-icon"><span class="marketing-icon-num">2</span></span></center>
	          <p>Give things that matter</p>
	          See their wishlist of things that can help make their lives better, and you get to decide what you want to give. Donations go through Paypal, and the orders are 
	        </div>
	        <div class="col-md-4 marketing-block">
	          <center><span class="glyphicon glyphicon-send marketing-icon"><span class="marketing-icon-num">3</span></span></center>
	          <p>100% Homeless Accessible</p>
	          Using Amazon Locker, every family in need can benefit from GiveBox. Set the address to their nearest Locker, and we'll SMS and email when a new donation comes through
	        </div>
	      </div>
	    </div>
  	</div>
	</div>
<!-- sendGrid -->
<!-- SendGrid -->
<!-- sendgrid -->
</template>
