<template name="newstory">
	<div class="container">
			<center>
				<h1 style="color:#ddd">Tell us about you</h1>
			</center>
			<br>
			<div class="well">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<form role="form">
							<div class="form-group">
						    <label for="storyName">Name</label>
						    <input type="text" class="form-control" id="storyName" placeholder="John Smith" name="name">
						  </div>
						  <div class="form-group">
						    <label for="storyAge">Age</label>
						    <input type="text" class="form-control" id="storyAge" placeholder="30" name="age">
						  </div>
						  <div class="form-group">
						    <label for="storyAddress">Address</label>
						    <input type="text" class="form-control" id="storyAddress" placeholder="2424 Haste St. Berkeley, CA 94704" name="address">
						    <br>
						    <i>Don't have an address?</i> <div class="btn btn-info" id="locker" style="margin-left: 20px; border-radius: 10px;">Find nearest Amazon Locker</div>
						  </div>
						  <div class="form-group">
						    <label for="storyFamily">Family Members</label>
						    <input type="text" class="form-control" id="storyFamily" placeholder="Husband and two kids" name="family">
						  </div>
						  <div class="form-group">
						    <label for="storyEmail">Email</label>
						    <input type="email" class="form-control" id="storyEmail" placeholder="john@gmail.com" name="email">
						  </div>
						  <button type="submit" class="btn btn-primary">Next</button>
						</form>
					</div>			
				</div>
			</div>
		</div>
</template>

<template name="newstory2">
	<div class="container">
			<center>
				<h1 style="color:#ddd">Write your story</h1>
			</center>
			<br>
			<div class="well">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<form role="form" action="upload_story" method="post" enctype="multipart/form-data">
							<div class="form-group">
						    <label for="exampleInputFile" style="font-size:20px; color:rgba(44, 62, 80,1.0);">Tell us your story</label>
						     <p class="help-block">Here's your opportunity to tell your story - make it count. Shoot for at least 250 words, describing your family situation, what you need, and what getting help would mean to your life.</p>
						    <textarea class="form-control" id="exampleInputFile" rows="6" name="description"></textarea>
						   
						  </div>
							<div class="form-group">
						    <label for="exampleInputFile" style="font-size:20px; color:rgba(44, 62, 80,1.0);">Upload an image of you and your family</label>
						    <input type="file" id="exampleInputFile" name="image">
						  </div>
						  <button type="submit" class="btn btn-default">Next</button>
						</form>
					</div>			
				</div>
			</div>
		</div>
</template>

<template name="newstory3">
	<div class="container-fluid">
			<center>
				<h1>{{#with currentStory}}{{name}}{{/with}}

					Set up your wishlist</h1> <button>Finish</button>
			</center>
			<br>
			<div class="well">
				<div class="row">
					<div class="col-md-12">
							<h2>Your wishlist</h2>
							<table class="table">
								<tr>
									<th>Image</th>
							  	<th>Item</th>
							  	<th>Buy</th>
							  </tr>

					      <tr>
							  	<td><img src="#"/></td>
							  	<td>Clothing</td>
							  	<td><button>Buy</button></td>
							  </tr>

							</table>
					</div>				
				</div>
			</div>
	</div>
</template>